<!--=====================================
Breadcrumb
======================================-->  

<div class="ps-breadcrumb">

    <div class="container">

        <ul class="breadcrumb">

            <li><a [routerLink]="['/home']" >Inicio</a></li>

            <li>Registro</li>

        </ul>

    </div>

</div>

    <!--=====================================
    Login - Register Content
    ======================================--> 

    <div class="ps-my-account">

        <div class="container">

            <form class="ps-form--account ps-tab-root" action="link.html" method="get">

                <ul class="ps-tab-list">
                    <li class="active"><a href="#">Registro de Usuarios</a></li>
                </ul>

                <div class="ps-tabs">
                  

                    <!--=====================================
                    Register Form
                    ======================================--> 

                    <div class="ps-tab active" id="register">

                        <div class="ps-form__content">

                            <div class="form-group">

                                <input class="form-control" type="text" placeholder="Nombres">

                            </div>

                            <div class="form-group">

                                <input class="form-control" type="text" placeholder="Apellidos">

                            </div>

                            <div class="form-group">

                                <input class="form-control" type="email" placeholder="Correo Electrónico">

                            </div>

                            <div class="form-group">

                                <input class="form-control" type="password" placeholder="Contraseña">

                            </div>

                            <div class="form-group">

                                <div class="ps-checkbox">
    
                                    <input class="form-control" type="checkbox" id="remember-me" name="remember-me">
    
                                    <label for="remember-me">Acepto los terminos y condiciones</label>
    
                                </div>
    
                            </div>

                            <div class="form-group submtit">

                                <button class="ps-btn ps-btn--fullwidth">Registrarme</button>

                            </div>

                        </div>

                        <div class="ps-form__footer">

                            <p>Conectar con:</p>

                            <ul class="ps-list--social">

                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="google" href="#"><i class="fab fa-google"></i></a></li>

                            </ul>

                        </div>

                    </div><!-- End Register Form -->

                </div>

            </form>

        </div>

    </div>