<!--=====================================
Home Promotions
======================================-->  

<div class="ps-promotions">

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-12 main-menu-pro">
                <a class="ps-collection option-promotions" href="shop-default.html">
                    <img src="{{path}}/img/banner/default/1.jpg" alt="">
                </a>
            </div>

            <div class="col-md-6 col-12 main-menu-pro">
                <a class="ps-collection option-promotions" href="shop-default.html">
                    <img src="{{path}}/img/banner/default/2.jpg" alt="">
                </a>
            </div>

        </div>

    </div>

</div><!-- End Home Promotions-->
