<!--=====================================
Home Features
======================================-->  

<div class="ps-site-features">

    <div class="container">

        <div class="ps-block--site-features ps-block--site-features-2">

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-rocket"></i></div>
                <div class="ps-block__right">
                    <h4>Excelentes Ofertas</h4>
                    <p>Nuevos Productos</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-sync"></i></div>
                <div class="ps-block__right">
                    <h4>Mayor Acceso</h4>
                    <p>Ventas y Promociones</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                <div class="ps-block__right">
                    <h4>Suscripción Segura</h4>
                    <p>100% seguro</p>
                </div>
            </div>

            <div class="ps-block__item">
                <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                <div class="ps-block__right">
                    <h4>8/5 Soporte</h4>
                    <p>Soporte Dedicado</p>
                </div>
            </div>

        </div>

    </div>

</div><!-- End Home Features-->
